<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mathifyhk</title>
    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="../static/styles.css">
    <script defer src="../static/function.js"></script>
    <link rel="icon" type="image/x-icon" href="../static/ball.png">
</head>
<body>
    <div class="hero">
        <nav>
            <img src="static/logo.png" class="logo">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <img src="static/menu.png" class="menu-img">           
        </nav>
    
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <img src="" class="feature-img">
            </div>  
        </div>
    </div>

    <h1>Input Your Image Jason is Genius and handsome</h1>
    <input type="file" id="imageInput">
    <button onclick="processImage()">Process Image</button>
    <div id="results"></div>
</body>
</html>
